<a href="https://colab.research.google.com/github/garvjain7/Chatbot/blob/main/python_lab_exp2_college.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Python Lab EXP - 2***

In [51]:
# identity operators in python
x1=['apple','banana']
y1=['apple','banana']
z=x1
print(x1 is z) # True because x and z are the same object
print(x1 is y1) # False because x and ya re not the same objects even if they have same values
print(x1==y1) # True because '==' checks the elements are equal or not on each index
print(z is x1) # same reason as x and z are same objects

True
False
True
True

In [30]:
# membership operator in python
print('pineapple' not in x1) # pineapple is not in list x.
print('banana' in y1) # banana is in list y.

True
True

In [ ]:
# IF-ELSE Statement in python
a,b = 33,33
if b > a:
  print("b is greater than a")
elif b < a:
  print("b is smaller than a")
else:
  print("a and b are equal")

a and b are equal

In [25]:
# Nested IF-ELSE Statements in python
x=41
if x>10:
  print("Above 10")
  if x>20:
    print("Above 20")
  else:
    print("but not above 20")

Above 10
Above 20

In [24]:
# WHILE LOOP in pyton
i=1
while i<6:
  print(i)
  i=i+1 # i++ is not valid in python

print()
# For loop in python (loop through a list)
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  print(x)

print()
# Loop through the letters in word 'banana'
for x in 'banana':
  print(x)

1
2
3
4
5

apple
banana
cherry

b
a
n
a
n
a

In [35]:
# break statement
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  print(x)
  if x == 'banana':
    break

print()
# range
for j in range(1,5):
  print(j)

apple
banana

1
2
3
4

Experiment 2 starting from here

In [40]:
# Experiment no. 2
# 1. Write a python program to print maximum out of three numbers
print(max(4,545,65)) # short trick

# in exam
a,b,c = 4,54,65
if a>b and a>c:
  print(a)
elif b>c:
  print(b)
else:
  print(c)

545
65

In [53]:
# 2. Write a Python program to compute the compound interest & simple interest
p,r,t = 8000,5,2
simple_interest = (p*r*t)/100
print(simple_interest)
compound_interest = p*((1+(r/100))**t)-p
print(compound_interest)

800.0
820.0

In [49]:
# 3. Write a Python program to check given number is even or not.
num = int(input("Enter a number: "))
if num%2==0:
  print("Even")
else:
  print("Odd")

Enter a number: 5
Odd

In [55]:
# 4. Using a for loop, write a program that prints out the decimal equivalents of 1/2, 1/3, 1/4... 1/10
for i in range(2, 11):
  print({1/i})

{0.5}
{0.3333333333333333}
{0.25}
{0.2}
{0.16666666666666666}
{0.14285714285714285}
{0.125}
{0.1111111111111111}
{0.1}

In [48]:
# 5. Write a program using a for loop that loops over a sequence
list1 = [85,4,45.9,"apple","banana"]
for i in list1:
  print(i)

85
4
45.9
apple
banana

In [50]:
# 6. Write a program using while loop that asks the user for a number, and prints countdown from that number to zero.
n = int(input("Enter a number: "))
while(n>=0):
  print(n)
  n = n - 1

Enter a number: 10
10
9
8
7
6
5
4
3
2
1
0

In [60]:
# Fibonacci series
a, b = 0, 1
for i in range(10):
  print(a, end=" ")
  a, b = b, a + b

0 1 1 2 3 5 8 13 21 34