<a href="https://colab.research.google.com/github/garvjain7/Chatbot/blob/main/python_lab_exp2_college.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Python Lab EXP - 2***

In [ ]:
# identity operators in python
x1=['apple','banana']
y1=['apple','banana']
z=x1
print(x1 is z) # True because x and z are the same object
print(x1 is y1) # False because x and ya re not the same objects even if they have same values
print(x1==y1) # True because '==' checks the elements are equal or not on each index
print(z is x1) # same reason as x and z are same objects

True
False
True
True

In [ ]:
# membership operator in python
print('pineapple' not in x1) # pineapple is not in list x.
print('banana' in y1) # banana is in list y.

True
True

In [ ]:
# IF-ELSE Statement in python
a,b = 33,33
if b > a:
  print("b is greater than a")
elif b < a:
  print("b is smaller than a")
else:
  print("a and b are equal")

a and b are equal

In [ ]:
# Nested IF-ELSE Statements in python
x=41
if x>10:
  print("Above 10")
  if x>20:
    print("Above 20")
  else:
    print("but not above 20")

Above 10
Above 20

In [ ]:
# WHILE LOOP in pyton
i=1
while i<6:
  print(i)
  i=i+1 # i++ is not valid in python

print()
# For loop in python (loop through a list)
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  print(x)

print()
# Loop through the letters in word 'banana'
for x in 'banana':
  print(x)

1
2
3
4
5

apple
banana
cherry

b
a
n
a
n
a

In [ ]:
# break statement
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  print(x)
  if x == 'banana':
    break

print()
# range
for j in range(1,5):
  print(j)

apple
banana

1
2
3
4

Experiment 2 starting from here

In [ ]:
# Experiment no. 2
# 1. Write a python program to print maximum out of three numbers
print(max(4,545,65)) # short trick

# in exam
a,b,c = 4,54,65
if a>b and a>c:
  print(a)
elif b>c:
  print(b)
else:
  print(c)

545
65

In [ ]:
# 2. Write a Python program to compute the compound interest & simple interest
p,r,t = 8000,5,2
simple_interest = (p*r*t)/100
print(simple_interest)
compound_interest = p*((1+(r/100))**t)-p
print(compound_interest)

800.0
820.0

In [ ]:
# 3. Write a Python program to check given number is even or not.
num = int(input("Enter a number: "))
if num%2==0:
  print("Even")
else:
  print("Odd")

Enter a number: 5
Odd

In [ ]:
# 4. Using a for loop, write a program that prints out the decimal equivalents of 1/2, 1/3, 1/4... 1/10
for i in range(2, 11):
  print({1/i})

{0.5}
{0.3333333333333333}
{0.25}
{0.2}
{0.16666666666666666}
{0.14285714285714285}
{0.125}
{0.1111111111111111}
{0.1}

In [ ]:
# 5. Write a program using a for loop that loops over a sequence
list1 = [85,4,45.9,"apple","banana"]
for i in list1:
  print(i)

85
4
45.9
apple
banana

In [ ]:
# 6. Write a program using while loop that asks the user for a number, and prints countdown from that number to zero.
n = int(input("Enter a number: "))
while(n>=0):
  print(n)
  n = n - 1

Enter a number: 10
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# Fibonacci series
a, b = 0, 1
for i in range(10):
  print(a, end=" ")
  a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

**EXTRA QUESTIONS**

In [ ]:
# Write a python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700(both included)
n=int(input())
if n>1500 and n<2700:
  if n%7==0 and n%5==0:
    print(f"{n} is a number that needed")
  else :
    print(f"{n} is not a number that needed")

2456
2456 is not a number that needed

In [ ]:
# Write a program to count the even or odd number from a series of number
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
evenCount=0
oddCount=0
for n in numbers:
  if n%2==0:
    evenCount+=1
  else:
    oddCount+=1
print(f"Number of even numbers: {evenCount}")
print(f"Number of odd numbers: {oddCount}")

Number of even numbers: 4
Number of odd numbers: 5

***Python List*** - Experiment 3

In [2]:
# list are used to store multiple items in a single variable
# list are one of 4 built-in data types in python used to store collection of data
# list are created using square brackets
# list items are odered

# create a list
list1 = ['apple','banana','cherry',2]
print(type(list1))
print()
for i in list1:
  print(type(i))

<class 'list'>

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

In [4]:
# list length
print(len(list1))

print()
# access items
for x in list1:
  print(x)

print()
# accessing particluar item from the list
print(list1[1])

print()
# Negative indexing
print(list1[-2])

print()
# accessing in a range
print(list1[1:3])

print()
# reversing a list
print(list1[::-1])

4

apple
banana
cherry
2

banana

cherry

['banana', 'cherry']

[2, 'cherry', 'banana', 'apple']

In [10]:
# Element present or not
list1 = ['apple','banana','cherry',2] # Re-initialize list1 to its original state
if 'apple' in list1:
  print("apple is in the list")

print()
# Changing list values
list1[1] = 'blackcurrent'
print(list1)

print()
# insert() method
list1.insert(2,'watermelon')
print(list1)

print()
# append() method -> works only at the end
list1.append('orange')
print(list1)

# to find the index
print(list1.index('cherry'))

print()
# appending a list to another list
list2 = ['pineapple','mango']
list1.append(list2)
print(list1)

print()
# extend() method
list1.extend(list2)
print(list1)

apple is in the list

['apple', 'blackcurrent', 'cherry', 2]

['apple', 'blackcurrent', 'watermelon', 'cherry', 2]

['apple', 'blackcurrent', 'watermelon', 'cherry', 2, 'orange']
3

['apple', 'blackcurrent', 'watermelon', 'cherry', 2, 'orange', ['pineapple', 'mango']]

['apple', 'blackcurrent', 'watermelon', 'cherry', 2, 'orange', ['pineapple', 'mango'], 'pineapple', 'mango']

In [ ]:
# remove function
list1.remove('banana')
print(list1)

# pop() function
list1.pop(1)
print(list1)

# del keyword
del list1[0]
print(list1)

# # clear() function
# list1.clear()
# print(list1)

### More List Functions and a Basic Program

In [12]:
my_list = [1, 5, 2, 8, 5, 3, 5]
print(f"Original list: {my_list}")

print()
# count() method: Returns the number of times a specified value appears in the list.
count_of_5 = my_list.count(5)
print(f"Number of 5s in the list: {count_of_5}")

print()
# sort() method: Sorts the list in ascending order by default.
my_list.sort()
print(f"Sorted list (ascending): {my_list}")

print()
# Sort in descending order
my_list_desc = [1, 5, 2, 8, 5, 3, 5] # Re-initialize for demonstration
my_list_desc.sort(reverse=True)
print(my_list_desc)

print()
# reverse() method: Reverses the order of the elements in the list.
my_list_rev = [1, 5, 2, 8, 5, 3, 5] # Re-initialized for the desired result
my_list_rev.reverse()
print(my_list_rev)

print()
# copy() method: Returns a shallow copy of the list.
original_list = [1, 2, 3]
copied_list = original_list.copy()
print(f"Original list: {original_list}, Copied list: {copied_list}")

# Demonstrate that they are separate objects
copied_list.append(4)
print(f"Original list after appending to copy: {original_list}")
print(f"Copied list after appending to copy: {copied_list}")
print()

Original list: [1, 5, 2, 8, 5, 3, 5]

Number of 5s in the list: 3

Sorted list (ascending): [1, 2, 3, 5, 5, 5, 8]

[8, 5, 5, 5, 3, 2, 1]

[5, 3, 5, 8, 2, 5, 1]

Original list: [1, 2, 3], Copied list: [1, 2, 3]
Original list after appending to copy: [1, 2, 3]
Copied list after appending to copy: [1, 2, 3, 4]

In [13]:
# soft copy of list
import copy

# 1. Original list with a nested list
original = [1, 2, [3, 4]]

# --- CREATING COPIES ---

# Methods for Shallow Copy (Soft Copy)
shallow1 = original.copy()        # Built-in method
shallow2 = list(original)         # Constructor
shallow3 = original[:]            # Slicing

# Method for Deep Copy (Hard Copy)
deep_copy = copy.deepcopy(original)

# --- DEMONSTRATING APPENDS ---

# A. Appending to the TOP LEVEL
# This affects ONLY the list you append to.
original.append(5)

# B. Appending to the NESTED LIST (The "Soft" part)
# Because shallow copies share the same inner list reference,
# changing the inner list in ONE affects the original and ALL shallow copies.
shallow1[2].append("SHALLOW_CHANGE")

# C. Appending to the DEEP COPY
# This is a "Hard" copy; it is 100% independent.
deep_copy[2].append("DEEP_CHANGE")

# --- RESULTS ---
print(f"Original: {original}")
print(f"Shallow 1: {shallow1}  <-- Reflects nested change")
print(f"Shallow 2: {shallow2}  <-- Reflects nested change")
print(f"Deep Copy: {deep_copy} <-- Completely independent")

Original: [1, 2, [3, 4, 'SHALLOW_CHANGE'], 5]
Shallow 1: [1, 2, [3, 4, 'SHALLOW_CHANGE']]  <-- Reflects nested change
Shallow 2: [1, 2, [3, 4, 'SHALLOW_CHANGE']]  <-- Reflects nested change
Deep Copy: [1, 2, [3, 4, 'DEEP_CHANGE']] <-- Completely independent

In [17]:
# Write a program to find the no. is prime or not from a list
def is_prime(n):
  if n < 2: return False
  for i in range(2, int(n*0.5)+1):
    if n % i == 0: return False
  return True

numbers = [2, 7, 10, 15, 19, 21, 23]
for num in numbers:
  if is_prime(num):
    print(f"{num} is a prime number")
  else:
    print(f"{num} is not a prime number")

2 is a prime number
7 is a prime number
10 is not a prime number
15 is not a prime number
19 is a prime number
21 is not a prime number
23 is a prime number

In [18]:
# Write a program to find the no. is palindrome or not from a list
def isPalindrome(n):
  return str(n) == str(n)[::-1]

number = [121, 505, 123, 444, 987, 1001]
for num in number:
  if isPalindrome(num):
    print(f"{num} is a palindrome")
  else:
    print(f"{num} is not a palindrome")

121 is a palindrome
505 is a palindrome
123 is not a palindrome
444 is a palindrome
987 is not a palindrome
1001 is a palindrome

In [19]:
# Write a program to find the no. in list is armstrong or not
numbers = [153, 370, 371, 407, 123, 9474]

def isArmstrong(n):
    s = str(n)
    power = len(s)
    total = sum(int(digit)**power for digit in s)
    return total == n

print("Armstrong Check:")
for num in numbers:
    if isArmstrong(num):
        print(f"{num} is an Armstrong number")
    else:
        print(f"{num} is Not an Armstrong number")

Armstrong Check:
153 is an Armstrong number
370 is an Armstrong number
371 is an Armstrong number
407 is an Armstrong number
123 is Not an Armstrong number
9474 is an Armstrong number

**Tuples** - Part of Experiment 3

In [23]:
# Examples
tuple1 = ('apple','banana','cherry','apple','banana')
print(tuple1)
print()

print(len(tuple1))
print()

print(type(tuple1))
for item in tuple1:
  print(type(item))
print()

# to change the tuple item -> use this method
# tuple -> change to list -> then again change to tuple after updation
x=('apple','banana','cherry')
y=list(x)
y[1] = "kiwi"
x=tuple(y)
print(x)
print()

# unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)
print()

sports = ("cricket", "football", "hockey", "tennis", "badminton")
(a, *others, b) = sports
print(a)
print(others)
print(b)

# loop through the tuple
tuple1 = ('apple','banana','cherry','apple','banana')
for item in tuple1:
  print(f"item {i} is {item}")
print()

#adding two tuples
tup1 = ("apple", "banana")
tup2 = ("cherry", "pineapple")
tup3 = tup1 + tup2
print(tup3)

('apple', 'banana', 'cherry', 'apple', 'banana')

5

<class 'tuple'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

('apple', 'kiwi', 'cherry')

apple
banana
cherry
cricket
['football', 'hockey', 'tennis']
badminton