<a href="https://colab.research.google.com/github/garvjain7/Chatbot/blob/main/VAC_4th_sem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data types in python :
# 1,2,3,4,5,6 -> integer
# 1.1,2.2,3.3,4.4,5.5,6.6 -> float
# "Machine","Hello","PIET" -> string
# True,False -> Boolean expression

# Data containers :
# set
# list
# tuple
# dictionary

# indexing and slicing
# data = {1,2,3,4,5,6}
# +ve indexing - 0 1 2 3 4 5
# -ve indexing - -6 -5 -4 -3 -2 -1

print("Hello World")
a = 10
print(type(a)) # to determine the data type of variable declared
b = 14.5
print(type(b))
c = "Hello"
print(type(c))
d = True
print(type(d))

Hello World
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# Types of division
# foat division(/) ->give a float value after division
# floor division(//) -> give a round off value after division
# by modulus operator(%) -> give the remainder as output after division

# Types of multiplication
# simple multiply(*)
# exponential(a**b) -> a to to the power b

In [19]:
#list
list = [1,2,3,"Hello", "Garv Jain", 10.25, True]
print(list)
print(list[3])

l = [1,2,3,4,5,6,7,8,9,10]
print(l[1::2])
del l[3] # to delete an element from the particular index
print(l)
l.reverse()
print(l)
print("\n")


# creating a new list
# we have to find the second largest element in the lsit l1
l1 = [12,12,55,76,88,44,67,33,88,108,105]
l1.sort() # by passing reverse = True as a parameter in sort function it can sort the list in descending order
# by default sorting order is ascending
print(l1[-2])

[1, 2, 3, 'Hello', 'Garv Jain', 10.25, True]
Hello
[2, 4, 6, 8, 10]
[1, 2, 3, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 3, 2, 1]


105

In [26]:
print(sorted(l1)[-2])

105

In [31]:
# tuples in python
tuple = (11,12,13,14,15,16,17)
print(tuple.count(13))

print(tuple.index(16))

my_tuple = {10, 20, 30}
print(type(my_tuple))

1
5
<class 'set'>

In [36]:
list = [1,1,12,23,4,5,12,32,32,32,897]
print(list)
list1 = set(list)
print(list1)
print(sorted(list1))

[1, 1, 12, 23, 4, 5, 12, 32, 32, 32, 897]
{32, 1, 897, 4, 5, 12, 23}
[1, 4, 5, 12, 23, 32, 897]

In [45]:
dict = {"name":"garv","language":"python","section":"d"}
for key, value in dict.items():
    print(f"{key}: {value}")

dict.popitem() # pop out the last value from the dictionary
print(dict)

name: garv
language: python
section: d
{'name': 'garv', 'language': 'python'}

In [70]:
# # input a number from the user and check it for even or odd
# num = int(input("Enter a number: "))
# print("the number is", num)
# if num%2==0:
#   print("the no. is even")
# else:
#   print("the no. is odd")


# take a number as input and check if it is divisible by 3 or 5 or by both or not by any of them
num = int(input("Enter a number: "))
print("the number is", num)
if num%3==0 and num%5==0:
  print("the no. is divisible by 3 and 5")
elif num%5==0:
  print("the no. is divisible by 5")
elif num%3==0:
  print("the no. is divisible by 3")
else:
  print("the no. is not divisible by 3 or 5")

Enter a number: 897675
the number is 897675
the no. is divisible by 3 and 5

In [97]:
# l=[1,2,3,4,5,6,7,8,9,10]
# for i in l:
#   print(i)

# s = "Hello World"
# for i in s:
#   print(i, end=" ")

# take a number as input from user and
# n = int(input("Enter the number: "))
# list1 = []
# for i in range(n):
#   word = input(f"Enter the {i+1}th character: ")
#   list1.append(word)

# print(list1)

Enter the number: 6
Enter the 1th character: 1
Enter the 2th character: 2
Enter the 3th character: 3
Enter the 4th character: 4
Enter the 5th character: 5
Enter the 6th character: 6
['1', '2', '3', '4', '5', '6']

In [100]:
# while loop
n=11
while n<=20:
  print(n)
  n=n+1

11
12
13
14
15
16
17
18
19
20

In [141]:
# Define a function
def square(a):
    return a * a
# Define a list
list5 = [1, 35, 7565, 3, 56, 3567, 53, 67, 64]
# Ensure that 'list' function is used correctly
list4 = list(map(square, list5))
print(list4)

TypeError: 'list' object is not callable

In [142]:
def rich(n):
  return n>15000
pocket_money = [12800,13700,20500,7845,10000,45000]
rich_students =list(filter(rich,pocket_money))
print(rich_students)

TypeError: 'list' object is not callable